<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Erlang Package Central | Index</title>

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Erlang Package Central</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Index <span class="sr-only">(current)</span></a></li>
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Categories
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Package Management</a></li>
                        <li><a href="#">Release Management</a></li>
                        <li><a href="#">Web Frameworks</a></li>
                        <li><a href="#">Web Framework Components</a></li>
                        <li><a href="#">HTTP</a></li>
                        <li><a href="#">Testing</a></li>
                        <li><a href="#">Logging</a></li>
                        <li><a href="#">Monitoring</a></li>
                        <li><a href="#">Code Analysis</a></li>
                        <li><a href="#">Build Tools</a></li>
                        <li><a href="#">Geolocation</a></li>
                        <li><a href="#">Debugging</a></li>
                        <li><a href="#">Actors</a></li>
                        <li><a href="#">Date and Time</a></li>
                        <li><a href="#">ORM and Datamapping</a></li>
                        <li><a href="#">Queue</a></li>
                        <li><a href="#">Authentication</a></li>
                        <li><a href="#">Text and Numbers</a></li>
                        <li><a href="#">REST and API</a></li>
                        <li><a href="#">Caching</a></li>
                        <li><a href="#">Third Party APIs</a></li>
                        <li><a href="#">Networking</a></li>
                        <li><a href="#">Algorithms and Datastructures</a></li>
                        <li><a href="#">Translations and Internationalizations</a></li>
                        <li><a href="#">Miscellaneous</a></li>
                        <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Submit package</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="well well-lg">
        <div class="input-group">
            <input class="form-control input-lg" id="search-box" type="text"
                   placeholder="Search some packages..." autofocus>

            <div class="input-group-addon btn btn-success btn-lg" id="search-button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">
                    <!--Search...-->
                    </span>
            </div>
        </div>
    </div>
    <div class="well well-lg">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-github"></i>
                    <a href="#">
                        <small>ChicagoBoss/</small>
                        ChicagoBoss
                    </a>
                    <a href="#" class="pull-right">
                            <span class="label label-primary pull-right">
                                <i class="fa fa-tag"> Web Frameworks</i>
                            </span>
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                Chicago Boss is a server framework inspired by Rails and written in Erlang. It offers all the
                conveniences of modern web development, including Comet. What sets Chicago Boss apart from other
                non-Erlang frameworks is that it can handle large amounts of traffic without any drop in performance.
                What sets Chicago Boss apart from other Erlang frameworks is that it is easy to set up and use.
            </div>
            <div class="panel-footer">
                <h5>
                    <i class="fa fa-eye"> <b>156</b> <a href="#">watchers</a></i> &nbsp;
                    <i class="fa fa-star"> <b>1094</b> <a href="#">stars</a></i> &nbsp;
                    <i class="fa fa-code-fork"> <b>248</b> <a href="#">forks</a></i> &nbsp;
                    <i class="fa fa-file-archive-o"> versions</i>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Last commit 10 days ago">
                        <span class="label label-primary">edge</span></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Stable, released Jun 18">
                        <span class="label label-success">0.8.13</span></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Old, released May 1">
                        <span class="label label-warning">0.8.12</span></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Click to view older versions">
                        <span class="label label-default">older</span></a>
                </h5>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/bootstrap-typeahead.js"></script>

<script>
    $("#search-box").typeahead({
        source: ["item1", "item2", "item3"]
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>